$sub-color: grey;
$main-color: #b4b6cf;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

.group {
  box-shadow: 0,8px 32px,0 rgba(31,38,135,0.37);
  
  .form-input {
    background: rgba(255,255,255, 0.15);
    padding: 1rem;
    width: 80%;
    border: none;
    border-radius: 50px;
    margin: 25px 0;
    outline: none;
    color: #3c354e;
    font-size: 1rem;
    font-weight: bold;
    &:focus {
      display: inline-block;
      box-shadow: 0 0 0 0.2rem #b9abc0;
      backdrop-filter: blur(12rem);
      border-radius: 2rem;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
    &::placeholder{
      color: #b9abe099;
      font-weight: 100;
      font-size: 1rem;
    }
  }

  input[type='password'] {
    letter-spacing: 0.3em;
  }

  // .form-input-label {
  //   color: $sub-color;
  //   font-size: 16px;
  //   font-weight: normal;
  //   position: absolute;
  //   pointer-events: none;
  //   left: 5px;
  //   top: 10px;
  //   transition: 300ms ease all;

  //   &.shrink {
  //     @include shrinkLabel();
  //   }
  // }
}